/* Auf großen Bildschirmen, Inhaltsverzeichnis neben den Text stellen */
#rocket {
    display: none;
}

@media screen and (min-width: 86em) {
    /* Etwas mehr Platz vorsehen */
    html {
        max-width: none;
    }

    /* Anorderung im Gitter */
    body {
        display: grid;
        grid-gap: 1.5em;
        grid-template-columns: 25em 1em 50em;
        justify-content: center;
    }

    #rocket {
        display: block;
        grid-row: 1;
        grid-column: 2;
    }

    #title {
        grid-row: 1;
        grid-column: 3;
    }

    #toc-left {
        grid-row: 2;
        grid-column: 1;
    }

    #content {
        grid-row: 2;
        grid-column: 3;
    }

    #bottom {
        grid-row: 3;
        grid-column: 3;
    }

    /* Fine Tuning der Abstände */
    #toc > h3 {
        margin-top: 0;
    }

    #content h2,
    #content h3 {
        margin-top: 0;
        margin-bottom: 0.5em;
    }

    #bottom > footer {
        margin-top: 0.5em;
    }

    /* Inhaltsverzeichnis hervorheben */
    #toc {
        border: 1px solid #e0e0e0;
        background-color: #f9f9f9;
        padding: 0.5em;
    }
}

/* Deutsche Nummerierung für Abbildungen */
:root {
    --figure-short-code: 'Abb. ';
}
